.chart{
    flex: 4;
    flex-direction: column;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 7px 10px 11px 0px rgba(146, 146, 146, 0.56);
    -webkit-box-shadow: 7px 10px 11px 0px rgba(146, 146, 146, 0.56);
    -moz-box-shadow: 7px 10px 11px 0px rgba(146, 146, 146, 0.56);

    .titlec{
        margin-bottom: 10px;
        color: rgb(104, 104, 104);
        font-size: 16px;
    }

    .chart-grid{
        stroke: lightgray;
    }
}