.home{
    display: flex;

    .container{
        flex: 6;
        
        .widgets,.charts{
            padding: 20px;
            display: flex;
        }

        .charts{
            display: flex;
            padding: 5px 20px;
        }

        .listContainer{
            margin: 20px;
            padding: 20px;
            box-shadow: 7px 10px 11px 0px rgba(146, 146, 146, 0.56);
            -webkit-box-shadow: 7px 10px 11px 0px rgba(146, 146, 146, 0.56);
            -moz-box-shadow: 7px 10px 11px 0px rgba(146, 146, 146, 0.56);

            .list-title{
                font-weight: 500;
                color: rgb(138, 138, 138);
                margin-bottom: 15px;
            }
        }
    }


}

@media screen and (max-width: 40rem) {
    .home{
        .container{
            flex: 4;
        }
        .widgets,.charts{
            flex-direction: column;
            width: 40%;
        }

        .charts{
            display: flex;
        }

        .listContainer{
            width: 40%;
            margin: 5px;
            padding: 8px;

            .list-title{
                font-weight: 300;
                margin-bottom: 8px;
            }
        }
    }
}